.fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
#bg-color{
    background-color: rgba(213, 214, 216, 0.7);
}
#sign-in{
    padding: 7px 15px;
}
.navi{
    display: flex;
    justify-content: space-between;
}
body{
    margin: 0;
}
.banner{
    display: flex;
    background-color: #C6E4D6;
    padding: 80px 100px;
    margin-left: 160px;
    margin-right: 160px;
    border-radius: 10px;
    gap: 64px;
    
}
.btexts{
    margin-bottom: -50px;
}
#b-intro{
color: rgba(14, 14, 14, 0.5);
}
#bbtn{
    padding: 8.5px 17px;
    border: none;
    color: #F5F5F5;
    background-color: #006A50;
    border-radius: 6px;
}
.vision{
    margin-top: 100px;
    margin-left: 160px;
    margin-right: 160px;
}
.v-container{
    display: flex;
    gap: 30px;
    margin-top: 32px;
    margin-bottom: 32px;
}
.common{
    padding: 32px;
    border-radius: 15px;
}
.blue{
    background-color: rgba(129, 180, 252, 0.7);
}
.green{
    background-color: rgba(198, 228, 214, 1);
}
.orange{
    background-color: rgba(247, 235, 207, 1)
}
.c-text{
    color: rgba(14, 14, 14, 0.7);
    font-size: smaller;
}
.cbtn{
    padding: 11px 20px;
    color: #F5F5F5;
    border: none;
    border-radius: 5px;
}
.blu-btn{
    background-color: rgba(84, 144, 245, 1);
}
.gre-btn{
    background-color: rgba(9, 161, 92, 1);
}
.ora-btn{
    background-color: rgba(255, 194, 57, 1);
}

