.fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
.bg-color{
    background-color: rgba(213, 214, 216, 0.3);
}
#sign-in{
    padding: 15px 26px;
    color: rgba(0, 106, 80, 1);
    border-color: rgba(0, 106, 80, 1);
}
#sign-in:hover{
    background-color: rgba(0, 106, 80, 0.3);
}
.head{
    margin-top: 20px;
    margin-bottom: -20px;
    margin-left: 160px;
    margin-right: 160px;
}
.navi{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body{
    margin: 0;
}
.banner{
    display: flex;
    background-color: #C6E4D6;
    padding: 80px 100px;
    margin-left: 160px;
    margin-right: 160px;
    border-radius: 20px;
    gap: 64px;
    
}
.btexts{
    margin-bottom: -50px;
}
#b-intro{
color: rgba(14, 14, 14, 0.5);
margin-bottom: -15px;
}
#bbtn{
    padding: 17px 34px;
    border: none;
    color: #F5F5F5;
    background-color: #006A50;
    border-radius: 6px;
}
.vision{
    margin-top: 100px;
    margin-left: 160px;
    margin-right: 160px;
}
.v-container{
    display: flex;
    gap: 30px;
    margin-top: 32px;
    margin-bottom: 32px;
}
.common{
    padding: 32px;
    border-radius: 15px;
}
.blue{
    background-color: rgba(129, 180, 252, 0.7);
}
.green{
    background-color: rgba(198, 228, 214, 1);
}
.orange{
    background-color: rgba(247, 235, 207, 1)
}
.c-text{
    color: rgba(14, 14, 14, 0.7);
    font-size: smaller;
}
.cbtn{
    padding: 11px 20px;
    color: #F5F5F5;
    border: none;
    border-radius: 5px;
}
.blu-btn{
    background-color: rgba(84, 144, 245, 1);
}
.blu-btn:hover{
    background-color: rgb(0, 77, 210);
}
.gre-btn{
    background-color: rgba(9, 161, 92, 1);
}
.gre-btn:hover{
    background-color: rgb(0, 87, 48);
}
.ora-btn{
    background-color: rgba(255, 194, 57, 1);
}
.ora-btn:hover{
    background-color: orange;
}
.recents{
    margin-top: 100px;
    margin-left: 160px;
    margin-right: 160px;
}
.card-btn{
    margin-top: 10px;
    padding: 13px 26px;
    background-color: rgba(0, 106, 80, 1);
    color: white;
    border: none;
    border-radius: 5px;
}
.card-btn:hover{
    background-color: rgb(0, 161, 107);
}
.card{
    border-radius: 20px;
    padding: 48px;
    display: flex;
    gap: 32px;
    background-color: #ffffff;
    margin-top: 32px;
    margin-bottom: 32px;
}
.c1{
    margin-top: -7px;
}
.cimg{
    border-radius: 20px;
}
#bbtn:hover{
    background-color: rgb(0, 67, 58);
}
.t-align{
    text-align: center;
}
.donate{
    margin-top: 100px;
    margin-left: 160px;
    margin-right: 160px;
}
.d-items{
    margin-top: 32px;
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    gap: 24px;
}
.item{
    border-radius: 10px;
    padding: 5px 40px;
    background-color: #ffffff;
}
.item:hover{
    background-color: rgb(118, 190, 156);
}
#tk200{
    background-color: rgba(198, 228, 214, 1);
}
#tk200:hover{
    background-color: rgb(118, 190, 156);
}
.t-area{
    text-align: center;
    padding: 15px 40px;
    border: none;
    margin-bottom: 12px;
}
.dbtn{
    margin-bottom: 30px;
}
.news{
    margin-top: 100px;
    margin-left: 160px;
    margin-right: 160px;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: rgba(198, 228, 214, 1);
    border-radius: 20px;
}
.subscribe{
    display: flex;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 24px;
}
.t-area2{
    border: none;
    border-radius: 5px 0px 0px 5px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 40px;
    padding-right: 300px;
}
.sub-btn{
    background-color: rgba(0, 106, 80, 1);
    color: white;
    border: none;
    border-radius: 0px 5px 5px 0px;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 32px;
    padding-right: 34px;
}
.sub-btn:hover{
    background-color: rgb(0, 161, 107);
}
.socials{
    display: flex;
    justify-content: center;
    gap: 15px;
}

footer{
    margin-top: 100px;
    margin-left: 320px;
    margin-right: 320px;
    margin-bottom: 50px;
}
.qt{
  background-image: url('../assets/quote-bg.png');
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-position: 0px 40px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 48px;
  padding-bottom: 48px;
  border-radius: 20px;
}
.color2{
  color: rgba(14, 14, 14, 0.8);
}
.yunus{
    margin-bottom: -10px;
}